.main-container {
  .header {
    font-size: 4rem;
    color: white;
    background: #252525;
    text-align: center;
    padding: 2.5% 0;
  }
  .chart-container {
    padding: 2% 0;
    .chart-box {
      position: relative;
      width: 90%;
      margin: auto;
      height: 600px;
      border-radius: 4px;
      box-shadow: 0px 0px 5px -0.5px #949494;
      overflow: scroll;
      .spinner-border {
        position: absolute;
        top: 50%;
        left: 50%;
      }
    }
    .modes-container {
      padding: 1%;
      .modes {
        display: inline-block;
        position: relative;
        background-color: #0066a1;
        opacity: 0.2;
        color: white;
        font-size: 1.4rem;
        width: 40px;
        height: 40px;
        margin-left: 5px;
        text-align: center;
        border-radius: 50%;
        line-height: 40px;
        cursor: pointer;
        .hover-content {
          position: absolute;
          font-size: 0.8rem;
          background: #5a5a5a;
          color: white;
          border-radius: 3px;
          top: 45px;
          left: 0px;
          line-height: 2rem;
          padding: 0px 15px;
        }
      }
      .active {
        opacity: 1;
      }
      .inactive {
        opacity: 0.2;
      }
    }
  }
}
